/*CSS for personal use only*/
@font-face{
    font-family: "Oradano Micho";
    src: url("https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Font/OradanoGSRR.ttf") format("truetype");}

@font-face{
    font-family:"GFS Didot";
    src:url("https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Font/GFSDidot-Regular.ttf")}

:root{
    --fo1: "Oradano Micho";
    --fo2: "GFS Didot";
        
    --bg1: black;
    --bg2: #222;
    
    --b: #3bc5f8;
        
    
}


a{color: black;}
a:hover{
    color: var(--b)!important;
    text-shadow: 0 0 1px white;
    text-decoration: none;}

body{
    background: url("https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/AlterEgoBackground.gif") no-repeat;
    background-size: contain;
    font-family: var(--fo1);}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0rem;} 
::-webkit-scrollbar-track {
	background: transparent} 
::-webkit-scrollbar-thumb {
  background: transparent !important;}


/*All sections*/
.container{min-width: 100% !important;}

/*Header*/
#header{
    background: url("https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/header.png");
    height: 200px;
    background-size: cover;
    margin-bottom: 19rem;}
#header .navbar-main, #header .navbar-status, #header .breadcrumb-nav{
    background: none;}
#main-menu .navbar-nav{
    flex: 0 0 100%;
    justify-content: space-between !important;}
#header .navbar-main{
    padding-top: 0;
    padding-bottom: 0;}
#main-menu .nav-link{
    padding-bottom: 0;}
#header .navbar-main .fa{
    display: none;}
#header .navbar-main .nav-link{
    font-size: 25px;
    color: black ;}
#header .navbar-status{
    color: black;
    padding-top: 0;}
#header > nav.navbar.navbar-status.navbar-expand > span{
    display: none !important;}
#header .navbar-status .btn{
    color: black !important;
    font-size: 18px}
#header .navbar-status a{
    color: black;
    font-size: 18px;}
#header .navbar-status a:hover{
    color: var(--b);}
#header .breadcrumb-nav .breadcrumb-item{
    display: none;}
.fa-bookmark{
    color: var(--b) !important;}

#main:before{
    text-align: center;
    content:"Fan design based on AlterEgo game. All art credits go to Caramel Column Inc.";
}

#main{
    min-width:100%;
    background: #333 url("https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/wallpaper.jpeg");
    background-blend-mode: multiply;
    border-top: 5px double white;
    color: white;}

#main > h1{text-align: right;}
#main > h1:before{
    position: absolute;
    left: 1rem;
    visibility: visible;
    content:"Welcome Traveller..."
}
#main a{
    color: white;}
#main a:hover{
    color: var(--b);}
.nav-tabs{
    border: none;
    justify-content: space-evenly;}
.nav-tabs .nav-link{
    background: #222 !important;
    border: 2px solid white !important;
    color: white !important;}
.nav-tabs .nav-link:hover{
    background: #333 !important;
    color: var(--b) !important;
    border: 2px solid var(--b) !important;
    text-shadow: 0 0 10px var(--b) !important;
    box-shadow: 0 0 20px white !important;
}


#fraProfileHTML{
    font-family: var(--fo2) !important;}
#fraProfileHTML h1, h2, h3, h4{font-family: var(--fo1);}

#sidebar{
    color: white;
    min-width: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    padding: 0;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: center;
    left: 0;
    bottom: -450px;}
#sidebar a{color: white;}
#sidebar .card{
    bottom: 0px;
    background: black;
    margin: 0;
    border: 3px double white;
    min-width: 225px;
    height:500px;
    overflow-y: scroll;}
#sidebar .card:hover{bottom:300px;}
#card-chat:hover{
    bottom:400px;}
#sidebar .multi-column{
    display: flex;}
#sidebar .no-gutters:last-child{
    display: flex;
    flex-direction:row;}
#sidebar .no-gutters > form{
    display: none;}






@media (max-width: 1350px){
    #card-chat{display:none;}}
@media (max-width: 1100px){
    #sidebar > div:nth-child(2) > div.card.d-none.d-lg-inline-block, #sidebar > div.multi-column.no-gutters > div.card.d-lg-none{display:none !important;}
    #header{margin-bottom: 18rem !important;}}
@media (max-width: 1000px){
    #header{margin-bottom: 15rem;}}
@media (max-width: 900px){
    #sidebar{display: none;}
    #header{margin-bottom: 13rem !important;}}
@media(max-width: 992px){
    #sidebar{
        bottom: -460px !important;}
    #header{margin-bottom: 14rem !important;}}
@media(max-width: 768px){
    #header{margin-bottom: 7rem !important}
}
