:root{
    --c1: #ffea94;
    --c2: #b5dfff;
    font-family:fantasy;
}

#introduction{
    color: var(--c1);
}

body{
    background: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Final.jpeg');
    background-size: 1500px;
    }


.container{
    opacity: 0.7;
}