@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
:root{
    --br1: #1a1713;
    --br2: #242019;
    --br3: #34322f;
    --br4: #5d574d;
    --br5: #2f2921;
    --go1: #ffe9a4;
    --go2: #efd071;
    --go3: #bd9929;
    --f: "Almendra SC", serif;}

/*Gifs*/
.welcome-image{
    width: 100%;
    border:1px solid var(--go3);
    border-radius: 10px 10px;
    box-shadow: 0px -5px 15px 5px var(--br4);}
.snowflakes{
    opacity:0.5;}

body{
    background: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/POV.jpeg') bottom,   url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Final.jpeg') black;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%;
    border:2px solid var(--br4);
    font-family: var(--f);}
a{
    color: var(--go2);}
a:hover{
    color:white;
    text-decoration: none;}

/*Alert E.g. Finished Scouting, Pups at Risk, Etc*/
.alert{
    content:"Test content";
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px;
    border: 1.5px solid var(--go2);
    outline: 1px solid var(--br4);
    color: var(--br5);
    text-align: center;
    width:80%;
    justify-content: center;}
.alert .alert-link{
    font-size: 0;
    color: black;}
.alert .alert-link:before{
    font-size: 15px !important;
    font-family: 'Font Awesome 5 Free' !important;
    content:"\f0da\f0da\f0da";
    padding-left:5px;}
.alert .fas{
    color: var(--go1);}
.alert a{
    color: var(--br4);}
.alert a:hover{
    color: var(--go3);}
.alert-danger{
    width:100%;}
.alert-success a{
font-size: 0;}
.alert-success a:before{
    font-size:10px !important;
    font-family: 'Font Awesome 5 Free' !important;
    content:"\f091";}

/*Main*/
.navbar-main{
    background-image: linear-gradient(to bottom,black,var(--br5)), url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-blend-mode: lighten;
    border-left: 3px solid var(--go3);
    border-right: 3px solid var(--go2);}
#header .navbar-main .navbar-nav .nav-link .fa{
    color: var(--go2);
    text-shadow: 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4);}
#header .navbar-main .navbar-nav{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;}
#header .navbar-main .nav-item a{;
    font-size: 0;}
#header .navbar-main .nav-item a:hover{
    transition: 0.5s;
    font-size: small;}
#header .navbar-nav .nav-item a:hover{
    color: var(--br1);}
#header .navbar-nav .nav-item a:hover .fa{
    color:var(--go2);}

/*Status*/
#header .navbar-status{
    background-image: linear-gradient(to top left, var(--br5), var(--br3)), url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-size: 100%;
    border-left: 2px solid var(--go2);
    border-right: 2px solid var(--go1);
    color: var(--go2);}
#header .navbar-status a{
    color: var(--go2);}
#header .navbar-status .navbar-nav .nav-link .fa:hover{
    color: white;}
#header .navbar-status .navbar-nav .dib span, #header .navbar-status .navbar-nav .nav-item:last-child span{
    visibility: hidden;
    position: absolute;}

/*Breadcrumb*/
.breadcrumb-nav{
    background-image: linear-gradient(to bottom,black,var(--br5)), url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-blend-mode: color-dodge;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--go1);
    border-left: 2px solid var(--go2);
    border-right: 2px solid var(--go2);}
.breadcrumb-nav a{
    color: var(--br1);}
.breadcrumb-item.active{
    color: var(--go1);
    text-shadow: 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4);}
#bookmarkPage.fas.fa-bookmark.text-danger::before{
    color: var(--go2);
    text-shadow: 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4), 0 0 1px var(--br4);}

/*Footer*/
#footer{
    background-image: linear-gradient(to top, var(--br1), var(--go1)), url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-blend-mode: overlay;
    margin-top: 2rem;
    border-radius: 30px 30px 0px 0px;
    border: 3px solid var(--go2);
    border-top: 1px solid var(--go1)}

/*
.container .row{
    justify-content: center !important;
    width: 100%;
}
*/
/*Main Container*/
#main{
    padding-bottom:10%;
    /*
    flex: 0 0 100% !important;
    max-width: 100% !important;
    align-content: center !important;
    */
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px 200px;
    border: 2px solid var(--go2);
    outline: 1px dotted var(--br4);}
#main > h1{
    text-align: center;
    font-size:80px;
    text-shadow: 1px 1px black;}
#main .nav-tabs{
    background-color: rgba(255, 255, 255,0.15);
    background-size: stretch;
    justify-content: space-evenly;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid var(--br4);
    border-bottom: 1px solid var(--br4);
    box-shadow: 0px 0px 10px 0px var(--br4);
    font-size: 0;}
#main .nav-tabs .nav-link{
    background: rgba(0,0,0,0);
    border: none;}
.nav-tabs .nav-item:first-child a:before{
    font-size: 20px !important;
    font-family: 'Font Awesome 5 Free' !important;
    content:"\f6bb";
    color: var(--go2);
    text-shadow: 1px 1px 2px black;}
.nav-tabs .nav-item:first-child a:hover:before{
    color: var(--go1);
    content:"\f1b0";
    font-size:30px;}
.nav-tabs .nav-item:last-child a:hover:before{
    color: var(--go1);
    content:"\f118"}
.nav-tabs .nav-item:last-child a:before{
    font-size: 20px !important;
    font-family: 'Font Awesome 5 Free' !important;
    content:"\f11a";
    color: var(--go2);
    text-shadow: 1px 1px 2px black;}

/*Den Images*/
/*First - Pack Dynasty*/
#main .form-row .col-md-4:first-child .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:first-child .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/vashKick.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 0px 40px 0px 40px;}
#main .form-row .col-md-4:first-child .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 0px 40px;}
/*Second Pack Overview*/
#main .form-row .col-md-4:nth-child(2) .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:nth-child(2) .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/nana.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 40px 40px 40px 40px;}
#main .form-row .col-md-4:nth-child(2) .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 40px 40px;}
/*Third Breeding*/
#main .form-row .col-md-4:nth-child(3) .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:nth-child(3) .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/wolf.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 40px 0px 40px 0px;}
#main .form-row .col-md-4:nth-child(3) .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 40px 0px;}
/*Fourth Pupsitting*/
#main .form-row .col-md-4:nth-child(4) .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:nth-child(4) .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/JinMori.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 40px 0px 40px 40px;}
#main .form-row .col-md-4:nth-child(4) .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 40px 0px;}
/*Fifth Nesting*/
#main .form-row .col-md-4:nth-child(5) .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:nth-child(5) .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/jjk.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 40px 40px 40px 40px;}
#main .form-row .col-md-4:nth-child(5) .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 40px 40px;}
/*Last Socializing*/
#main .form-row .col-md-4:last-child .card-img-top {
    visibility:hidden;}
#main .form-row .col-md-4:last-child .card{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/haikyuu.gif');
    background-size:cover;
    border: 1px solid var(--go2);
    border-radius: 0px 40px 0px 40px;}
#main .form-row .col-md-4:last-child .card-header{
    border: 1px solid white;
    border-radius: 0px 0px 0px 40px;}
#main .form-row .col-md-4 .card:hover{
    background-color: rgba(90,90,90,1);
    background-blend-mode: color-dodge;
}



/*Table Header*/
#main tr{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px 30px;
    border: 1.5px solid var(--go2);
    outline: 1px solid var(--go1);}
#main th{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    border-radius:0px 30px 0px 30px;
    text-align: center;}
#main th a{
    color: white;
    text-shadow: 0px 0px 3px black}
#main th a:hover{
    color: white;
    text-shadow: 0px 0px 1px white}
/*Table*/
#main .card.mb-3{
    background-color: rgba(0,0,0,0);}

/*Lead Wolf*/
#lblPackLeaderTitle{
    color: var(--go2);
    text-shadow: 0px 0px 0px black;
    padding-right:1%;}
#main .card.mb-3 a img{
    background-color: rgba(0,0,0,0);
    border:2px solid var(--go2);
    border-radius: 100px 100px 0px 0px;}
#main .card.mb-3 .card-body, #main .featured-wolf a:nth-of-type(2){
    background-image: linear-gradient(to bottom,var(--br4),var(--br1)),url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    width: 100%;
    background-blend-mode: multiply;
    border: 2px solid var(--go3);
    border-radius: 0px 0px 15px 15px;}
#main .card.mb-3 a img:hover{
    visibility:hidden;}
#main .card.mb-3{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/cabcalloway.gif');
    background-size: cover;
    border:2px solid var(--go2);
    border-radius: 100px 100px 20px 20px;}

/*Stats*/
#main .col-xl-6{
    color: white;
    padding:0;
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Vash.jpeg');
    background-size: cover;
    background-blend-mode: multiply;}
/*Featured Wolf*/
#lblFeaturedWolfTitle{
    color: var(--go1);
    text-shadow: 0px 0px 1px black;
}
#main .featured-wolf a img{
    border:2px solid var(--go2);
    border-radius: 100px 100px 0px 0px;}
#main .featured-wolf a:nth-of-type(2){
    padding: 2.2px;
    padding-left: 43px;
    padding-right: 43px;
    border:1px solid var(--go2);}

/*Collapse Cave Button*/
.collapseCave, .btn-success{
    background: rgba(0,0,0,0);
    border: 0;
    font-size:0;}
.collapseCave:after, .btn-success:after{
    font-family: 'Font Awesome 5 Free' !important;
    font-size:14px;
    content:"\f185";
    color: var(--go1);}
.collapseCave:hover, .collapseCave:hover:after, .btn-success:hover, .btn-success:hover:after{
    color:white;
    background: rgba(0,0,0,0);
    content:"\f186";}


/*Wolf Portraits*/
.table, form .card-body{
    background: rgba(0,0,0,0.2) !important;}
.card-body a{
    display: grid;
    grid-template-columns: 200px 200px 200px;}
.card-body a img{
    border-radius: 100px 100px 0px 0px;
    border: 1px solid var(--go3);}
.card-body a div{
    border: 1px solid var(--go2);
    background: var(--br3) !important;}
.card-body a span{
    background: var(--br4);
    border-bottom: 1px solid var(--go2);
    border-left: 1px solid var(--go2);
    border-right: 1px solid var(--go2);}

/*
#sidebar{
    z-index:100;
    background: rgba(0,0,0,0);
    left:0;
    top:0;
    position: fixed;
    display: flex;
    flex-direction: column;}
.multi-column.no-gutters > div{
    max-width: 25%;
    border-radius: 50%;}
.multi-column.no-gutters .card{
    border: 0;
    margin:0;
    border-radius: 50%;}
.multi-column.no-gutters .card-body{
    visibility: hidden;
    transform: translateX(50%);
    width: 200%;}
.multi-column.no-gutters .card:hover .card-body{
    visibility: visible;
    width:200%;
    background: rgba(0,0,0,0.5);}
.multi-column.no-gutters #quest-widget{
    border: 0;
}*/


/*Only for Current Quest Card
.multi-column.no-gutters {
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;}
.multi-column.no-gutters #quest-widget{
    background-image: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/shin86.gif');
    border: 1px solid var(--go1);
    background-size: cover;
    border-radius: 50%;
    width:58%;}
.multi-column.no-gutters #quest-widget .card-body{
    visibility: collapse;}
.multi-column.no-gutters #quest-widget:hover .card-body{
    visibility: visible;
    transform: translateX(100%);
    background: rgba(0,0,0,0.5);}
*/





@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


/*Credits to Ropi #185626 on Wolvden*/