/*Template*/
/*Template by #185626*/
/*Stuff to note:
-Color refers to the text colour
-Background/background-image controls the background image/colour
-Chat section is a bit harder to test because you can't see the changes in Stylus (or at least I can't!). It should work when you have uploaded your CSS sheet to your den/profile.

Interested in more complex designs? Check out these sites for more in-depth explanations about CSS techniques:
https://developer.mozilla.org/en-US/docs/Web/CSS
https://www.w3schools.com/css/css3_fonts.asp
*/



/*Import a font style*/
/*
Font family - how it will be called
Src - Link to file
Format - .tff = truetype, .otf = opentype, .woff = woff
*/
@font-face{
    font-family: "";
    src: url("") format("");}

/*Global settings*/
/*
Lines starting with -- are variables (eg. --bg1)
This means you can just put the variable name (eg. bg1) 
instead of the value (eg rgb(25,15,36).
You can call a variable with the format: var(variablename) E.g. color: var(--bg1);

Font Awesome allows you to use symbols. Find symbols here: fontawesome.com/search
See bottom of CSS sheet to see an example of how to use them.
*/
:root{
    --bg1: rgb(25, 15, 36);
    
    --awe: 'Font Awesome 5 Free' !important;
}

/*Whole page*/
/*
Add page background here (+ Credits)
Background already set to fit webpage and remain still
*/
body{
    font-family: "";
    /*Credits:      Original: */
    /*background: url("");*/
    background-size: cover;
    background-attachment: fixed;
    color: ;}

/*Sets some of the text (welcome back, sc/gc/messages/modbox, sidebar stats, nursing, Year)*/
span{
    color:  !important;}

/*Links*/
/*Sets link details*/
a{color:  !important;}
/*Sets link appearance upon hover*/
a:hover{
    color:  !important;
    text-decoration: none;}

/*Buttons - unless overrwritten elsewhere*/
.btn{
    background: ;
    color: ;
    border: 0;}
.btn:hover{
    background: ;
    color: ;}

/*Typing + Dropdown area (Caves + Den Options)*/
.form-control{
    background:  !important;
    color:  !important;}



/*Header*/

/*Top part of header*/
/*
#header .navbar-main = Entire
#main-menu .navbar-nav = Only link area (excluding Logo)
#header .navbar-main .nav-item(:hover) .fa = controls icons
*/
#header .navbar-main{background: ;}
#main-menu .navbar-nav{
    flex: 0 0 100%;
    justify-content: space-between;}
#header .navbar-main .nav-item .fa{color: ;}
#header .navbar-main .nav-item:hover .fa{color: ;}
/*Keep if overriding overall color value*/
#header .navbar-main .nav-link{color:  !important;}
#header .navbar-main .nav-link:hover{color:  !important;}
/**/

/*Middle part of header*/
/*
#header .navbar-status = entire
.dropdown-menu = dropdown when clicking username
.dropdown-item = each individual link area in dropdown
*/
#header .navbar-status{
    background: ;
    color: ;}
#header .navbar-status a{
	color: ;}
header .navbar-status a:hover{
	color: ;}
.dropdown-menu{
    background: ;}
#header .btn{
    background: none;
    color:  !important;}
#header .dropdown-item{
    background: none;
    color:  !important}

/*Bottom part of header*/
/*
#header .breadcrumb-nav = Entire
.breadcrumb-item.active = your pack name
*/
#header .breadcrumb-nav{
    background: ;}
.breadcrumb-item.active{
    color: ;}
.fa-bookmark.text-danger::before{
    color: ;}



/*Both main and sidebar*/

.container:nth-of-type(4){}
/*Progress bars*/
/*
.bg-success = Nursing pup survival
.bg-warning = energy
.bg-primary = mood
.bg-danger = hunger
.bg-info = hp
*/
.progress{
    background:  !important;}
.bg-success{
    background:  !important;}
.bg-warning{
    background:  !important;}
.bg-primary{
    background:  !important;}
.bg-danger{
    background: ;}
.bg-info{
    background:  !important;}



/*Main*/
/*Big main box on the right*/

#main{
    background: ;
    color: ;}

/*Your pack name at top of main*/
#main > h1{
    text-align: ;
}

/*Alerts (eg not 100% survival chance, hunters finished, etc)*/
.alert{
    background: ;
    color: ;}

/*Entire row with navigation to your den & profile in main*/
.nav-tabs{
    background: ;
    border: 0 !important;}
/*Den nav*/
.nav-tabs .nav-link.active{
    background: ;
    color:  !important;}
/*Profile nav*/
.nav-tabs .nav-link{
    background: ;
    color:  !important;
    border: 0;}

/*HTML Profile*/
#fraProfileHTML{
    color: ;}
/*HTML Den*/
#fraDenHTML{
    color: ;}

/*Leader + Featured + Caves Box*/
/*
#main table = Leader + Featured
#main table th = All table headers
#main table th a = All header colour
#main table tr = All table's main body background
#main table .card-body = All wolf footnote area
#main table .card-body .text-light = All wolf name area
#main table .btn(:hover) = Collapse/Expand/Update button
*/
#main table th{
    background: ;}
#main table th a{
    color:  !important;}
#main table tr{
    background: ;
    color: ;}
#main table .card-body{
    background:  !important;
    color: ;}
#main table .card-body .text-light{
    background:  !important;
    color:  !important;}
#main table .btn{
    background: ;
    color: ;}
#main table .btn:hover{
    background: ;
    color: ;}
#main table .bottom{
    background: ;}
.badge-info{
	background: ;
	color: ;}
.fa-venus{color: ;}
.fa-mars{color: ;}

/*Den Cards*/
#denCards .card{
	border: ;}
#denCards .card:hover{
	opacity: 0.8;}

/*Create a New Cave*/
/*
#main .card.mb-3 = Entire
#main .card.mb-3 span = numbers /?
#main .card.mb-3 b = numbers ?/ 
*/
#main .card.mb-3{
    background: ;
    color: ;}
#main .card.mb-3 span{
    color:  !important;}
#main .card.mb-3 b{
    color:  !important;}

/*Bar in HTML section with all the buttons*/
#fraHTMLInputBar{
    background: ;}
#fraHTMLInputBar .btn{
    background: ;
    color: ;}
#fraHTMLInputBar .btn:hover{
    background: ;
    color: ;}

/*Expand Territory + Add Immortal Slot*/
#main .mt-3 .card-header{
    background:  !important;}
#main .mt-3 .card-body{
    background:  ;
    color: ;}
#main .mt-3 .btn{
    background: ;
    color: ;}
#main .mt-3 .btn:hover{
    background: ;
    color: ;}



/*Sidebar*/

#sidebar{
    background: ;
    color: ;}
#sidebar .card{
    border: 0;
    background: ;}
#sidebar span{
    color:  !important;}

    

/*Chat*/
/*
#chatboxContainer = Chat card background
#label_currentChannel = Current channel with dropdown menu hidden
#fraChatChannelMenu = Dropdown menu background
#fraChatChannelMenu button = Individual dropdown menu items
#fraChatChannelMenu .channelSwitcher.active = Current channel in dropdown menu
#btnChatSettings .fa-cog = Cog symbol
.s-chat-message = chat message designs alternate consecutively
*/
#chatboxContainer{
    background: ;}
#chatboxContainer a{
    color:  !important;}
#chatboxContainer a:hover{
    color: ;}
#label_currentChannel{
    background:  !important;
    color:  !important;}
#fraChatChannelMenu{
	background:  !important;}
#fraChatChannelMenu button{
    background:  !important;
	color:  !important}
#fraChatChannelMenu button:hover{
    background:  !important;
	color:  !important}
#fraChatChannelMenu .channelSwitcher.active{
	background:  !important;
	color:  !important;}
#btnChatSettings .fa-cog{
    color:  !important;}
#chatMessagePinned{
    background:  !important;
    color:  !important;}
#btnLoadNewMessages{
    background:  !important;
    color:  !important;}
.s-chat-message:nth-child(odd){
    background:  !important;
    color:  !important;}
.s-chat-message:nth-child(even){
    background:  !important;
    color:  !important;}
.s-chat__username{
    color:  !important;}
.s-chat-message_timestamp{
    color:  !important;}
.s-chat-message_menu{
    color:  !important;}
#txtChatInput{
    background:  !important;}
#btnChatSend{
    background:  !important;
    color:  !important;}
#btnChatSend:hover{
    background:  !important;
    color:  !important;}
.s-chat-error_screen{
    background:  !important;
    color: ;}
.s-chat-error_screen button{
    background:  !important;
    color:  !important;
    border: 0;}
.s-chat-error_screen button:hover{
    background:  !important;
    color:  !important;}



/*Footer*/
/*
Bottom of page
*/
#footer{
    background: ;}
#footer span{
    color:  !important;}




/*Profile Optimisation*/
#main table td.left{
    background:  !important;}
#main .form-row .card-body{
    background:  !important;
    color:  !important;}
#main .text-success{
    color:  !important;}






/*Additional Code */


/*Overwrite Link Designs*
/*
(Add area selector here) a{
color: (color) !important;} 
(Add area selector here) a:hover{
color: (color) !important;} 
*/

/*Font Awesome Example*/
/*Change sc & gc icon*/
/*
#header .navbar-status .icon{
    display: none;}
#header .navbar-status .user_current_sc:before{
    color:var(--bg3);
    content: "\f520";
    font-family: var(--awe)  !important;}
#header .navbar-status .user_current_gc:before{
    color:var(--al1);
    content: "\f6be";
    font-family: var(--awe)  !important;}
*/
